.container-fluid {
  --bs-gutter-x: 0;
}

.contact {

  /* margin-top: 20px; */
}

.contactrow {
  padding: 100px 30px 100px 30px;
}

.talkabout {
  font-size: 70px;
  font-weight: bold;
}

.nproject {
  font-size: 30px;
  font-weight: 500;
  /* font-weight: bold; */
  margin-top: 50px;
}

.joining {
  font-size: 30px;
  font-weight: 500;
  /* font-weight: bold; */
}

.general {
  font-size: 30px;
  font-weight: 500;
  /* font-weight: bold; */
}

.error {
  color: 'red'
}

.creating {
  margin-top: 35px;
  font-size: 12px;
  font-weight: bold;
}

.submit {
  border: none;
  background-color: #F11900;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 45px;
  margin-top: 15px;
  color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.form-label {
  /* font-size: 29px; */
  font-weight: bold;
  padding: 100px 0 15px 0;
}

.mapdiv {
  padding-bottom: 80px;
}

.mapimg {
  /* width: %; */
  height: 500px;
}

.get-in-touch {
  max-width: 800px;
  margin: 50px auto;
  position: relative;

}

.get-in-touch .title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 4rem;
  line-height: 48px;
  color: #F11900 !important;
}

@media (max-width: 300px) {
  .title {
    font-size: 2rem !important;
  }
}

.submit-btn {
  display: inline-block;
  background-color: #000;
  background-color: #F11900;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-style: bold;
  padding: 8px 16px;
  border: none;
  width: 200px;
  cursor: pointer;
  border-radius: 7px;
}

.contact-form .submit-btn:hover {

  color: white;
  background-color: #bd1300;


}

.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  color: #ffffff;
  background-color: #F11900;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: 500;
  font-size: 18px;
  padding-left: 35px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.form-control {
  height: 48px;
  padding: 0 15px;
  line-height: initial;
  color: #080a3c;
  background-color: transparent;
  border: 1px solid #cecfdf;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: unset !important;
  box-shadow: unset !important;
  font-size: 14px;
  font-weight: 400;
}

.form-control:focus {
  border-color: #19191c;
  
}

.form-control::-webkit-input-placeholder {
  color: #999999;
}

.form-control:-ms-input-placeholder {
  color: #999999;
}

.form-control::-ms-input-placeholder {
  color: #999999;
}

.form-control::placeholder {
  color: #999999;
}

textarea.form-control {
  height: auto !important;
  padding-top: 5px;
}
div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm{
  background-color: #f11900 !important;
  border: none !important;
}

@media only screen and (max-width: 768px) {
  .talkabout {
    font-size: 70px !important;
    font-weight: bold !important;
  }

  .nproject {
    font-size: 30px !important;
    font-weight: 500;
    /* font-weight: bold; */
    margin-top: 50px;
  }

  .joining {
    font-size: 30px !important;
    font-weight: 500;
    /* font-weight: bold; */
  }

  .general {
    font-size: 30px !important;
    font-weight: 500;
    /* font-weight: bold; */
  }

  .creating {
    margin-top: 35px;
    font-size: 12px !important;
    font-weight: bold;
  }

  .title {
    font-size: 2rem !important;
  }
}

.submit_button {
  padding: 15px 25px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #F11900;
  color: #fff;
  position: relative;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 17px;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.24);
  transition: all 250ms;
  overflow: hidden;
}

.submit_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 8px;
  background-color: #363636;
  z-index: -1;
  -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
  transition: all 250ms
}

.submit_button:hover {
  color: #e8e8e8;
}

.submit_button:hover::before {
  width: 100%;
}