.collapse {
    margin-top: 10px !important;
}
.accordion-button:not(.collapsed){
    background-color: red !important;
    color: white !important;
    border: none !important;
}

.accordion-button:focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  background-color: transparent;
}