#root {
    /* font-family: 'Rajdhani', sans-serif;  */
    /* font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif; */
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Plus Jakarta Sans', sans-serif; */
}

@media (max-width: 770px) {
    #root h4 {
        font-size: 25px;
        font-weight: 700;
        /* Set font weight to 700 for h4 */
    }

    #root p {
        font-size: 16px;
        font-weight: 400;
        /* Set font weight to 500 for p */
    }

    #root span {
        font-weight: 400;
        /* Set font weight to 500 for span */
    }
}

@media (max-width: 400px) {
    #root h4 {
        font-size: 20px;
        /* Adjust the font size as needed */
    }

    #root p {
        font-size: 14px;
        /* Adjust the font size as needed */
    }
}



::selection {
    background-color: #2c2c2c;
    color: #fff;
}


body {
    --sb-track-color: #ffffff;
    --sb-thumb-color: #ff0000;
    --sb-size: 9px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;

}